@media (min-width: 1000px){
    #learning h1, #courses h1{
        margin: 2em 0;
    }
}
@media (max-width: 768px){
    #picture-text{
        grid-template-columns: repeat(1, auto);
    }
}
@media (max-width: 600px){
    #course-view{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #course-view ul{
        grid-template-columns: repeat(1, auto);
        place-content: unset;
    }
    #parent{
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: repeat(2, auto);
        padding: 0 2em;
    }
    #footer-logo{
        display: block;
        justify-content: left;
        align-items: center;
    }
    #footer-logo img{
        margin: 1em 0;
    }
    #footer-content{
        padding: 1em 0;
    }
    #footer-content p{
        text-align: center;
        font-size: 14px;
    }
}
@media (min-width: 501px) {
    header{
        display: grid;
    }
    #mobile-navbar{
        display: none;
    }
}
@media (max-device-width: 500px){
    header{
        display: none;
    }
    #mobile-navbar{
        display: block;
    }
    #slider{
        margin-top: 70px;
        padding: 80px 0 60px;
    }
    #get-started, #see-more{
        width: 100vw;
        height: 80px;
        font-size: 2em;
        border-radius: unset;
        padding: unset;
    }
    #learning, #courses{
        margin-bottom: 0;
    }
}
