@media (max-device-width: 500px){
    #slider{
        height: 50vw;
    }
    #learning, #courses{
        margin: 2em 0 0 0;
    }
    #get-started, #see-more{
        width: 100vw;
        height: 80px;
        font-size: 2em;
        border-radius: unset;
        padding: unset;
    }
    #picture-text {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }
    #picture-text img{
        place-self: center center;
    }
    #text-2{
        width: 80vw;
        place-self: center center;
        text-align: justify;
    }
}
@media (min-width: 1000px){
    #learning h1, #courses h1{
        margin: 2em 0;
    }
}